<html>
<head>
  <title>Tech Blog</title>
  <link rel="shortcut icon" href="./images/logo.png"/>
  <link href="./bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="./stylesheets/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway|Droid+Serif:400,700' rel='stylesheet' type='text/css'>
</head>
<body ng-app="techBlog">
  <div class="navbar">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DevBlogs</p>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#/">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/posts">Posts</a></li>
        <li><a href="#/add">Add Post</a></li>
      </ul>
    </div>
  </div>
  <div class="animate-view-container">
    <div ng-view class='container view animate-view' ></div>
  </div>
  <script src="./bower_components/angular/angular.js"></script>
  <script src="./bower_components/jquery/dist/jquery.min.js"></script>
  <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="./bower_components/angular-route/angular-route.js"></script>
  <script src="./bower_components/angular-animate/angular-animate.js"></script>
  <script src="./javascripts/BlogApp.js"></script>
</body>
</html>