body{
background: #ECE9E6; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Raleway', sans-serif;
}
                                                      /*Scrollbar*/
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3); 
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/*Track piece*/
::-webkit-scrollbar-track-piece{
  background:none;
}
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #6E6E6E; 
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4); 
}
                                                /**Buttons styling**/
.my-btn{
  width: 10em;
  height: 3em;
  margin-top: 2em;
  font-family: 'Raleway', serif;
  border:none;
  color:#fff;
  background: #58C9B9;
  transition-timing-function: linear;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  opacity:0.9;
}
.my-btn:hover{
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity:1;
  -moz-transform: translate(0px, -7px);
  -webkit-transform: translate(0px, -7px);
  -o-transform: translate(0px, -7px);
  -ms-transform: translate(0px, -7px);
  transform: translate(0px, -7px);
}
#add-post-btn{
	margin-left: 70%;
}
												/**Home page styling**/
.home{
	max-width:800px;
	margin:5em auto;
}
.home a{
	color:#58C9B9;
}
.home a:hover{
	color:#424242;
}
.project-desc{
	margin-top: 2em;
	color:#424242;
	font-size: 1.5em;
	font-family: 'Raleway', sans-serif;
}
.footer{
	margin-top:3em;
	margin-bottom: 3em;
	text-align:center;
	font-family: 'Raleway', sans-serif;
}
												/**Navigation**/
.navbar-nav a{
	font-size:1.3em;
	text-decoration: underline;
	color:#424242;
}
.navbar-nav a:hover{
	color:#58C9B9;
	background:#424242;
}
.navbar-nav a:visited{
	color:#424242;
	background:#58C9B9;
}
.navbar-brand{
	color:#58C9B9;
	font-family: 'Droid Serif', serif;
}
.header{
	color:#424242;
	font-size: 3em;
	font-family: 'Droid Serif', serif;
}
													/**Post**/
.post-form{
	background: rgba(0,0,0,0.1);
	color:#424242;
	padding:3em 4em;
	font-family: 'Raleway', sans-serif;
}
.post-body{
	font-size: 1.2em;
	line-height: 2.2em;
}
.panel{
	border:1px solid #58C9B9;
}
.panel > .panel-heading {
    background-color: rgba(88, 201, 185, 0.1);
    color: #58C9B9;
    border-bottom:1px dashed #58C9B9;
}
.panel > .panel-heading > .panel-title{
	color: #333;
	font-size: 1.5em;
	line-height: 0.5em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
.panel > .panel-body > a{
	color: #58C9B9;
}
.box-com > .panel > .panel-heading > .panel-title {
	font-size: 1em;
}
.box-com{
	overflow-y: hidden;
	height: auto;
}
.box-com:hover{
	overflow-y: auto;
}
.comment-box{
	border-left: 1px double #333;
	padding-left: 1em;
}
i { cursor:pointer }

.animate-view.ng-enter,
.animate-view.ng-leave {
    transition:0.3s linear all;
}
.animate-view.ng-enter { opacity:0; z-index:100; }
.animate-view.ng-enter.ng-enter-active { opacity:1; }
.animate-view.ng-leave { opacity:1; z-index:99; }
.animate-view.ng-leave.ng-leave-active { opacity:0; }